{% load static %}

<aside role="navigation" id="sidebar" :data-opened="sidebarOpen"
    class="fixed shadow inset-y-0 left-0 z-10 w-72 h-screen transition-transform before:transition-transform before:duration-300 -translate-x-full before:-translate-x-full data-[opened=true]:translate-x-0 data-[opened=true]:before:translate-x-0 sm:translate-x-0 sm:data-[opened=true]:before:-translate-x-full before:content-[''] before:bg-black/50 before:w-screen before:h-screen before:-z-10 before:absolute"
    aria-label="Sidebar">
    <div class=""></div>
    <div class="h-full px-3 py-4 flex flex-col overflow-y-auto bg-gray-50">
        <div class="flex flex-row justify-between items-center mb-5">
            <a href="/" class="flex items-center ps-2.5">
                <img src="{% static 'images/mchs_logo.png' %}" class="h-10 w-10 sm:h-12 sm:w-12" alt="">
                <div class="flex flex-col items-start ml-4">
                    <span class="text-lg font-black uppercase whitespace-nowrap">Health Science</span>
                    <span class="font-semibold text-sm uppercase whitespace-nowrap">
                        College of Malawi
                    </span>
                    <!-- -translate-x-full sm:translate-x-0 -->
                </div>
            </a>
            <button class="text-rose-500" data-cy="sidebar-close" @click="sidebarOpen=false" role="button"
                aria-roledescription="icon button">
                <span class="text-3xl material-symbols-rounded">
                    close
                </span>
            </button>
        </div>
        <div class="justify-between flex flex-col flex-1 mt-8">
            <ul class="space-y-2 font-medium">
                <li v-for="link in links" :key="link.name">
                    <a :href="link.href"
                        :class="['flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group', '{{request.path}}' === link.href && 'bg-rose-500 text-rose-50 shadow-sm hover:bg-rose-400' ]">
                        <span class="material-symbols-rounded" v-text="link.icon"></span>
                        <span class="ms-3" v-text="link.name"></span>
                    </a>
                </li>
            </ul>
            <ul class="space-y-2 font-medium">
                <li>
                    <button
                        class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="material-symbols-rounded">settings</span>
                        <span class="ms-3">Preferences</span>
                    </button>

                </li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                            class="flex w-full items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                            <span class="material-symbols-rounded">logout</span>
                            <span class="ms-3">Logout</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</aside>